@import url("./fonts.css");

:root {
    --primary: #FECE1A;
    --secondary: #181A1C;
    --white: #FFFFFF;
    --row-size: calc(50% / 6);
}

html, body {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.margin-30 {
    margin-top: 30px;
}

.margin-50 {
    margin-top: 50px;
}

.text-center {
    text-align: center;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-yellow {
    font-size: 24.5px;
    color: var(--primary);
    font-weight: 400;
}

.text-black {
    font-weight: 500;
    font-size: 20px;
    color: var(--secondary);
}

.text-black-big {
    font-weight: 400;
    font-size: 24.5px;
    color: var(--secondary);
}

.text-white {
    font-weight: 400;
    font-size: 17px;
    color: var(--white);
}

.text-30 {
    font-size: 30px;
    font-weight: 400;
}

.yellow {
    color: var(--primary);
}

.bg-yellow {
    background-color: var(--primary);
    border: 0;
}

.black {
    border-color: var(--secondary);
}

.content-width {
    width: 1170px;
    /*    padding: 0 368px;*/
    margin: 0 auto;
}

.container {
    background-color: var(--primary);
    padding: 30px 0;
}

.header {
    /*  width: 1905px;*/
    height: 62px;
    background-color: var(--secondary)
}

.header-row {
    padding: 11px 0;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-row > button {
    border: 1px solid var(--primary);
    color: var(--white);
    margin-left: 6px;
    padding: 10px 15px;
}

.download {
    padding: 15px 30px;
    margin-top: 20px;
    text-align: center;
}

:hover.button, :hover.download {
    background-color: var(--secondary);
    color: var(--white);
}

div.button-row > button {
    padding: 10px 15px;
    color: var(--white);
    border: 1px solid var(--primary);
    margin: 0 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-container {
    position: relative;
    /*    opacity: .85;
        background-image: url("../images/advertisementBackground.jpg");
        background-color: var(--primary);*/
}

.header-overlay {
    background-image: url("../images/advertisementBackground.jpg");
    z-index: 1;
}

.header-content-container {
    background-color: var(--primary);
    opacity: .85;
    z-index: 10;
}

.header-content {
    padding: 122px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content {
    width: 585px;
    height: 256px;
}

div.header-row > img {
    width: 115px;
    margin-right: auto;
}

.devices {
    width: 320px;
    height: 250px;

}

h2 {
    font-size: 38.5px;
    color: var(--secondary);
    font-weight: 500;
}

.market > h2 {
    color: var(--white);
}

h3 {
    font-size: 33px;
    font-weight: 500;
    margin-bottom: 30px;
}

h4 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 30px;
}

h5 {
    color: var(--primary);
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
    text-align: left;

}

.market {
    /*   height: 586px;*/
    padding-top: 50px;
    background-color: var(--secondary);
}

.wedo {
    color: var(--white);
}

.col-3 {
    width: 390px;
    height: 288px;
    padding: 80px 0;

}

.icon-3 {
    width: 150px;
    height: 150px;
    margin: auto;
}

:hover.icon-3 {
    width: 170px;
    height: 170px;
}

button {
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.button {
    border: 1px solid var(--secondary);
    padding: 8px 25px;
    margin: 0 3px;
    display: inline-flex;
    font-size: 17px;
    font-weight: 400;

}

.footer-content > button {
    margin-top: 40px;

}

.image-wrap {
    margin: 30px 0;
}

.image-subtitle {
    margin-bottom: 10px;
}

img {
    width: 100%;
    height: 100%;
}

.icon-3 > img {
    border-radius: 50%;
}

.image {
    width: 370px;
    height: 230px;
    object-fit: contain;
}

.image-text {
    width: 370px;
    background-color: var(--secondary);
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
}

.image-3 {
    width: 348px;
    height: 348px;
    margin: auto;
}

div.icon-3 + div.image-text {
    width: 270px;
}

.col-i-3 {
    width: 348px;
    height: 423px;
    padding: 10px;

    margin-top: 30px;
    position: relative;
}

.col-i-3-back {
    z-index: 1;
    position: absolute;
    border: 1px solid var(--white);
}

.col-i-3-front {
    position: absolute;
    background-color: transparent;
    z-index: 10;
}

.col-i-3-front > .image-3 {
    visibility: hidden;
}

.col-i-3-front > .image-text {
    visibility: hidden;
}

:hover.col-i-3-front {
    display: block;
    background-color: var(--primary);
    opacity: .85;
    color: var(--secondary);
}

:hover.col-i-3-front > .image-3 {
    visibility: visible;
    color: var(--secondary);
}

:hover.col-i-3-front > .image-text {
    visibility: visible;
    background-color: var(--primary);
    opacity: .85;
    color: var(--secondary);
}

:hover.col-i-3-front ~ .col-i-3-back > .image-text {
    visibility: hidden;
}

.col-i-3-back > .image-text > .icon-row > i {
    color: var(--primary);
}

i {
    padding: 0 5px;
}

.col-i-3-front > .image-3 > h3 {
    padding-top: 70px;
}

.form {
    width: 570px;
    height: 42px;
    border: 1px solid var(--white);
    background-color: var(--white);
    font-size: 15px;
    color: var(--secondary);
    position: relative;
    text-align: left;
}

.range-1 {
    background-color: var(--primary);
    width: calc(var(--row-size) * 3);
    height: 100%;
}

.range-2 {
    background-color: var(--primary);
    width: calc(var(--row-size) * 4);
    height: 100%;
}

.range-3 {
    background-color: var(--primary);
    width: calc(var(--row-size) * 5);
    height: 100%;
}

.range-4 {
    background-color: var(--primary);
    width: calc(var(--row-size) * 6);
    height: 100%;
}

.form-wrap {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.form-wrap-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textarea {
    padding: 20px 30px;
    background-color: var(--white);
    width: 510px;
    color: var(--secondary);
    font-size: 16px;
}

.footer {
    background-color: var(--primary);
    padding: 40px 0 50px;
}

.footer-content {
    /*height: 312px;*/
    padding: 10px;

}

.footer-row {
    background-color: var(--secondary);
    box-sizing: border-box;
    padding: 10px;
}