@import url("./fonts.css");

:root {
    --primary: #FECE1A;
    --secondary: #181A1C;
    --white: #FFFFFF;
}



* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.margin-30 {
    margin-top: 30px;
}
/*header {
    padding-top: 50px;
}*/
.content-width {
    width: 1170px;
    padding: 0 368px;
      }
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {
    background-color: var(--primary);
    padding: 30px 0;
    }
.text-center {
    text-align: center;
}
.text-yellow {
    font-size: 20px;
    color: var(--primary);
}
h2 {
    font-size: 38.5px;
    color: var(--secondary);
}
.text-black {
    font-size: 20px;
    color: var (--secondary);
}
.text-white {
    font-size: 17px;
    color: var(--white);
}
.line {
    color: var(--secondary);
   }
.button {
 border: 1px solid var(--secondary);
    padding: 8px 25px;
    margin: 0 3px;
    display: inline-flex;
   /* justify-content: space-between;*/
    font-size: 17px;
    background-color: transparent;
   }

/*!!!!!!!!!!!!!!!!!!!!*/
:hover.button {
    background-color: var(--secondary);
    color: var(--white);
}
.image-wrap {
margin: 30px 0;
}
img {
    width: 100%;
    height: 100%;
}
.image {
    width: 370px;
    height: 230px;
  object-fit: contain;
}
.image-text {
    width: 370px;
    height: 80px;
    background-color: var(--secondary);
   }